<div class="container">
  <h1>Lista de Productos</h1>

  <div class="toolbar">
    <a routerLink="/productos/nuevo" class="btn-nuevo">Nuevo Producto
      <i class="fa-solid fa-plus"></i>
    </a>
    <div class="search-form">
      <input type="text" [(ngModel)]="filtro" (keyup.enter)="buscar()" placeholder="Buscar por nombre o marca...">
      <button (click)="buscar()">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Existencias</th>
        <th>Activo</th>
        <th>Última Razón</th>
        <th>Acciones</th> </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.id }}</td>
        <td>
          <a [routerLink]="['/productos/detalle', producto.id]">{{ producto.nombre }}</a>
        </td>
        <td>{{ producto.marca }}</td>
        <td>{{ producto.precio | currency:'MXN' }}</td>
        <td>{{ producto.existencias }}</td>
        <td>
          <button class="btn-icon" (click)="onToggleActivo(producto.id)">
            <i *ngIf="producto.activo" class="fas fa-check" style="color: limegreen;" title="Desactivar"></i>
            <i *ngIf="!producto.activo" class="fas fa-xmark" style="color: red;" title="Activar"></i>
          </button>
        </td>
        <td>{{ producto.ultimaRazonAjuste || 'N/A' }}</td>
        
        <td>
          <a [routerLink]="['/productos/editar', producto.id]" class="btn-editar" title="Editar">
            <i class="fas fa-pen-to-square"></i>
          </a>
          <a [routerLink]="['/productos/ajustar', producto.id]" class="btn-ajustar" title="Ajustar Inventario">
            <i class="fas fa-boxes-stacked"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination-controls">
    <button (click)="paginaAnterior()" [disabled]="currentPage === 0">
      <
    </button>
    <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
    <button (click)="paginaSiguiente()" [disabled]="currentPage >= totalPages - 1">
      >
    </button>
  </div>
</div>